<!DOCTYPE html>
<html>
  <head>
    <title>Bookeeboo</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700italic,900italic,900,700,500,500italic,300,100,400italic,100italic,300italic' rel='stylesheet' type='text/css'>
  </head>
  <body>

    <div class="wrapper">

      <div class="container">

        <header class="landing-header">
          <div class="opacity">
            <h1 class="landing">Bookeeboo</h1>
            <div class="description">
              <p>Our small web application helps you to create you own reading queue.</p>
              <p>Stop forgetting what you wanted to read and in what order. Use bookeeboo.</p>
            </div>
            <form id="sign">
              <h3>Sign In or Sign Up</h3>
              <input type="email" placeholder="Email" class="input-field" required>
              <input type="password" placeholder="Password" class="input-field" required>
              <div class="buttons-container">
                <button><a href="">Sign Up</a></button>
                <button><a href="main/">Sign In</a></button>
              </div>
            </form>
          </div>
        </header>

        <section id="scope">
          <ul>
            <li>We are using Amazon API to search books for you</li>
            <li>Track the reading progress</li>
            <li>We are helping you to be more organized</li>
            <li>It is absolutely free</li>
          </ul>
        </section>

        <footer>
          <div class="ft-description">
            <p>This website is created as an example by Alex Bokii and Ivan Bokii with a purpose to help Alex find her first job as a front-end developer.</p>
            <p>If you are looking for someone to fulfill a position in your company, please, contact us.</p>
          </div>
          <div class="social">
            <ul>
              <li><h4>alexbokii</h4></li>
              <li><a href="#"><img src="images/icon-twitter.png"></a></li>
              <li><a href="#"><img src="images/icon-github.png"></a></li>
              <li><a href="#"><img src="images/icon-mail.png"></a></li>
            </ul>
            <ul>
              <li><h4>ivanbokii</h4></li>
              <li><a href="#"><img src="images/icon-twitter.png"></a></li>
              <li><a href="#"><img src="images/icon-github.png"></a></li>
              <li><a href="#"><img src="images/icon-mail.png"></a></li>
            </ul>
          </div>
        </footer> 

      </div>

    </div>
    
  </body>
</html>
