<!DOCTYPE html>
<html>
  <head>
    <title>Bookeeboo</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/main.css">
    <link rel="stylesheet" href="../javascripts/thirdparty/jquery-ui/jquery-ui.min.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700italic,900italic,900,700,500,500italic,300,100,400italic,100italic,300italic' rel='stylesheet' type='text/css'>

    <script src="../javascripts/thirdparty/jquery-ui/external/jquery/jquery.js"></script>
    <script src="../javascripts/thirdparty/jquery-ui/jquery-ui.min.js"></script>
    <script src="../javascripts/thirdparty/clamp.min.js"></script>
    <script src="../javascripts/thirdparty/color-thief-master/src/color-thief.js"></script>

    <script src="../javascripts/namespace.js"></script>
    <script src="../javascripts/main.js"></script>
    <script src="../javascripts/common.js"></script>
    <script src="../javascripts/ordered-list.js"></script>
    <script src="../javascripts/current-book.js"></script>
    <script src="../javascripts/unordered-list.js"></script>
    <script src="../javascripts/search.js"></script>
    <script src="../javascripts/tutorial.js"></script>

    <script>
      $(function() {
        bookeeboo.orderedBooks.init();
        bookeeboo.unorderedBooks.init();
        bookeeboo.search.init();
        bookeeboo.currentBook.init();

        bookeeboo.isJustRegistered = <%= isJustRegistered %>;
        if (bookeeboo.isJustRegistered) {
          bookeeboo.tutorial.start();
        }
      });
    </script>
    
  </head>
  <body>

  	<div class="wrapper">

  		<div class="container">

        <div class="hidden-panel">
          <ul></ul>
        </div>

  			<header class="header-sm">
  				<h1 class="hd-reg">Bookeeboo</h1>
  				<a href="#" class="sign-out">Sign Out</a>
  			</header>

  			<section class="panel">

        <!-- hidden tutorial scetion -->
          <div class="tutorial readingNow">
            <p>This is the book that you are currently reading.</p>
            <p>You can track your progress using the yellow slider in the bottom of this section.</p>
            <button class="first">Next</button>
          </div>

  				<div class="search">
  					<input type="text" placeholder="Search a book you want to add to our queue" class="input-field">
            <button id="search-delete">
              <img src="../images/close-search.png">
            </button>
  				</div>

          <!-- <div class="hidden-panel">
            <ul></ul>
          </div> -->

  				<div class="current-reading">
            <div id="loading-spinner">
              <img src="../images/spinner.gif">
            </div>
  					<div class="cover"></div>
  					<div class="details">
  					   <div class="mark">You are reading</div>
  					   <header class="cur-header">
  							 <h3><span class="num-of-pages"></span></h3>  
  					   </header>
  					   <p></p>
              <!-- slider -->
              <div class="pages">
                <div class="graded">
                  <div class="first-page">1</div>
                  <div class="slider">
                    <div class="page-counter"></div>   
                  </div>
                  <div class="last-page"></div>
               </div>
              
                <div class="pages-settings">
                  <ul class="minus">
                    <li class="number">1</li>
                    <li class="number">5</li>
                    <li class="number">10</li>
                    <li class="operator">&#8211;</li>
                  </ul>
                  <ul class="plus">
                    <li class="operator">+</li>
                    <li class="number">1</li>
                    <li class="number">5</li>
                  <li class="number">10</li>
                  </ul>
                </div>
              </div> <!-- end of pages class -->
            </div> <!-- end of delails class --> 
          </div> <!-- end of current reading class -->
  		  </section>

  			<section class="unordered-books">
          <!-- hidden tutorial section -->
          <div class="tutorial unorderedBooks">
            <p>Here we save the books that you added but have not decided their place in your queue.</p>
            <p>Just drag them to the queue when you are ready.</p>
            <button class="second">Next</button>
          </div>

          <button class="up"></button>

          <div class="booksnumber-keeper">
            <span></span>
          </div>
          <div class="unordered-line"></div>
          <div class="unordered-wrapper">
  				  <div class="mark">Unordered</div>
  				  <ul class="connectedSortable">
            </ul>
          </div>

          <button class="bottom"></button>
  			</section>

  			<section class="ordered-books">

          <!-- hidden tutorial section -->
          <div class="tutorial orderedBooks">
            <p>This is your reading queue. The first book here is the one that you are reading at the moment.</p>
            <p>You can change books positions by dragging and dropping item in different places in the queue.</p>
            <button class="third">Finish</button>
          </div>

  				<ul class="connectedSortable">
            
          </ul>
  			</section>

        <footer>
          <div class="ft-description">
            <p>This website is created as an example by Alex Bokii and Ivan Bokii with a purpose to help Alex find her first job as a front-end developer.</p>
            <p>If you are looking for someone to fulfill a position in your company, please, contact us.</p>
          </div>
          <div class="social">
            <ul>
              <li><h4>alexbokii</h4></li>
              <li><a href="#"><img src="../images/icon-twitter.png"></a></li>
              <li><a href="#"><img src="../images/icon-github.png"></a></li>
              <li><a href="#"><img src="../images/icon-mail.png"></a></li>
            </ul>
            <ul>
              <li><h4>ivanbokii</h4></li>
              <li><a href="#"><img src="../images/icon-twitter.png"></a></li>
              <li><a href="#"><img src="../images/icon-github.png"></a></li>
              <li><a href="#"><img src="../images/icon-mail.png"></a></li>
            </ul>
          </div>
        </footer>
  		</div>
  	</div>

    <!-- tutorial -->
    <div class="tutorial welcome">
      <h2>Welcome to Bookeeboo</h2>
      <p>We prefilled your reading queue with books from the top 100 20<sup>th</sup> century books that everyone shoud read by "New Yourk Version".</p>
      <p>We hope this helps you to build your own reading queue and start tracking you reading progress.</p>
      <button class="start">Start</button>
    </div>

  </body>
</html>
