<!DOCTYPE html>
<html>
  <head>
    <title>Bookeeboo</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/main.css">
    <link rel="stylesheet" href="../javascripts/thirdparty/jquery-ui/jquery-ui.min.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700italic,900italic,900,700,500,500italic,300,100,400italic,100italic,300italic' rel='stylesheet' type='text/css'>

    <script src="../javascripts/thirdparty/jquery-ui/external/jquery/jquery.js"></script>
    <script src="../javascripts/thirdparty/jquery-ui/jquery-ui.min.js"></script>
    <script src="../javascripts/thirdparty/clamp.min.js"></script>
    <script src="../javascripts/thirdparty/color-thief-master/src/color-thief.js"></script>

    <script src="../javascripts/namespace.js"></script>
    <script src="../javascripts/main.js"></script>
    <script src="../javascripts/common.js"></script>
    <script src="../javascripts/ordered-list.js"></script>
    <script src="../javascripts/unordered-list.js"></script>
    <script src="../javascripts/search.js"></script>

    <script>
      $(function() {
        bookeeboo.orderedBooks.init();
        bookeeboo.unorderedBooks.init();
        bookeeboo.search.init();
      });
    </script>
    
  </head>
  <body>

  	<div class="wrapper">

  		<div class="container">

  			<header class="header-sm">
  				<h1 class="hd-reg">Bookeeboo</h1>
  				<a href="#" class="sign-out">Sign Out</a>
  			</header>

  			<section class="panel">

  				<div class="search">
  					<input type="text" placeholder="Search a book you want to add to our queue" class="input-field">
            <button id="search-delete">
              <img src="../images/close-search.png">
            </button>
  				</div>

          <div class="hidden-panel">
            <ul></ul>
          </div>

  				<div class="current-reading">
            <div id="loading-spinner">
              <img src="../images/spinner.gif">
            </div>
  					<div class="cover"></div>
  					<div class="details">
  					   <div class="mark">You are reading</div>
  					   <header class="cur-header">
  							 <h3>Nice Book about kitten<span class="num-of-pages"></span></h3>  
  					   </header>
  					   <p>This book is written for cat-lovers. It's about cute and funny citten who escaped from his family. You'll see adventures of clever people who had sold their home to pay for detective who spent all money for one-way ticket to Australia.
               </p>
              <!-- slider -->
              <div class="pages">
                <div class="graded">
                  <div class="first-page">1</div>
                  <div class="slider">
                    <div class="page-counter"></div>   
                  </div>
                  <div class="last-page"></div>
               </div>
              
                <div class="pages-settings">
                  <ul class="minus">
                    <li class="number">1</li>
                    <li class="number">5</li>
                    <li class="number">10</li>
                    <li class="operator">&#8211;</li>
                  </ul>
                  <ul class="plus">
                    <li class="operator">+</li>
                    <li class="number">1</li>
                    <li class="number">5</li>
                  <li class="number">10</li>
                  </ul>
                </div>
              </div> <!-- end of pages class -->
            </div> <!-- end of delails class --> 
          </div> <!-- end of current reading class -->
  		  </section>

  			<section class="unordered-books">
          <button class="up"></button>

          <div class="booksnumber-keeper">
            <span></span>
          </div>
          <div class="unordered-line"></div>
          <div class="unordered-wrapper">
  				  <div class="mark">Unordered</div>
  				  <ul class="connectedSortable"></ul>
          </div>

          <button class="bottom"></button>
  			</section>

  			<section class="ordered-books">
  				<ul class="connectedSortable"></ul>
  			</section>

        <footer>
          <div class="ft-description">
            <p>This website is created as an example by Alex Bokii and Ivan Bokii with a purpose to help Alex find her first job as a front-end developer.</p>
            <p>If you are looking for someone to fulfill a position in your company, please, contact us.</p>
          </div>
          <div class="social">
            <ul>
              <li><h4>alexbokii</h4></li>
              <li><a href="#"><img src="../images/icon-twitter.png"></a></li>
              <li><a href="#"><img src="../images/icon-github.png"></a></li>
              <li><a href="#"><img src="../images/icon-mail.png"></a></li>
            </ul>
            <ul>
              <li><h4>ivanbokii</h4></li>
              <li><a href="#"><img src="../images/icon-twitter.png"></a></li>
              <li><a href="#"><img src="../images/icon-github.png"></a></li>
              <li><a href="#"><img src="../images/icon-mail.png"></a></li>
            </ul>
          </div>
        </footer>

  		</div>
  	</div>
  </body>
</html>
